<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<link href="./static/layout.css" rel="stylesheet"/>
<link href="/static/style3.css" rel="stylesheet"/>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="./static/layout.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="container">

    <ul>
        <h2 th:each="blogPosts: ${blogPosts.author}"></h2>
        </li>
        </ul>
    </main>
    <footer>
        <a href="/categories">Back To Categories!</a>
    </footer>
</div>
</body>
</html>